@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


* {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', 'Ubuntu Mono', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;

}


section {
  padding: 100px;
  background: #252627;
}
/* ------------------------header------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 1000;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

header.sticky .logo {
  color: #111;
}
header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
}

header.sticky ul li a {
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-weight: bold;

}
/* ------------------------header------------------------ */
/* ------------------------top------------------------ */

#top {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-35deg, #f2823c 0%, #d65c15 50%, #252627 50%, #252627 100%);
  filter: hue-rotate(120deg);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#top .textBx {
  z-index: 1;
}

#top .textBx span {
  display: inline-block;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

#top .textBx span:hover {
  color: #48cfad;
  transition: all 0.5s;
}

#top .textBx span.name {
  color: #ed5565;
}

#top .textBx span.m-left {
  margin-left: 10px;
}

.animated:hover {
  animation-name: rubberBand;
  animation-duration: 0.5s;
}
#top .textBx p {
  color: #fff;
  font-size: 1.2em;
  user-select: none;
} 

#top .imgBx {
  position: relative;
  margin-left: 50px;
  border-radius: 50%;
  background: #252627;
  box-shadow:  7px 7px 17px #171819, 
             -7px -7px 17px #333435;
  user-select: none;

}

#top .imgBx img {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

#top .btn {
  background: #C76423;
  filter: hue-rotate(120deg);
  animation: animate 10s linear infinite;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
}
#about {
  min-height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about h2 {
  opacity: .1;
  font-size: 10em;
  color: #fff;
  position: absolute;
  top: 0;
  left: 10px;
  text-shadow: -3px -3px 1px #000000, 1px 1px #ffffff;
  user-select: none;
  letter-spacing: 2px;
}

#about .content {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: #252627;
  box-shadow:  20px 20px 40px #18191a, 
             -20px -20px 40px #323334;
  padding: 30px;
  z-index: 2;
  max-width: 1000px;
  margin-top: 100px;
}
#about .textBx {
  padding: 20px;
  max-width: 50%;
}
#about .textBx h3 {
  font-size: 1.4em;
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
#about .textBx p {
  color: rgb(223, 223, 223);
  letter-spacing: 1px;
  font-weight: 600;
}
#about .imgBx {
  min-width: 30%;
  display: flex;
  justify-content: center;
}
#about .imgBx img {
  max-width: 100%;
  height: 390px;
  object-fit: cover;
}
#work {
  min-height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work h2 {
  opacity: .1;
  font-size: 10em;
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px;
  text-shadow: -3px -3px 1px #000000, 1px 1px #ffffff;
  user-select: none;
  letter-spacing: 2px;
}
#work .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
#work .content .card {
  position: relative;
  max-width: 600px;
  margin: 20px;
  overflow: hidden;
}
#work .content .card .imgBx {
  width: 100%;
}
#work .content .card .imgBx img {
  max-width: 100%;
}
#work .content .card .textBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  text-align: center;
  transition-delay: 0.1s;
  background: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#work .content .card:hover .textBx {
  height: calc(100% - 80px);
  opacity: 1;
}
#work .content .card .textBx p {
  color: #fff;
  font-size: 1em;
  letter-spacing: 1.4px;
}
#work .content .card .textBx p:nth-child(odd) {
  margin-bottom: 10px;
}
#contact {
  background: #fff;
}
#contact .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
#contact .heading h2 {
  font-weight: 600;
  font-size: 30px;
}
#contact .heading p {
  font-weight: bold;
}
#contact .content {
  display: flex;
  justify-content: space-between;
}
#contact .formBx {
  min-width: 60%;
}
#contact .formBx form {
  display: flex;
  flex-direction: column;
}
#contact .contactInfo h3 {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#contact .formBx form input,
#contact .formBx form textarea {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #252627;
  color: #fff;
  resize: none;
}
#contact .formBx form textarea {
  min-height: 200px;
}
#contact .formBx form input::placeholder,
#contact .formBx form textarea::placeholder {
  color: #999;
  font-weight: bold;
}
#contact .formBx form input[type="submit"] {
  max-width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #C76423;
  filter: hue-rotate(120deg);
  animation: animate 10s linear infinite;
}
#contact .contactInfo {
  min-width: 40%;
}
#contact .contactInfo p {
  font-weight: 600;
}
#contact .contactInfoBx {
  position: relative;
}
#contact .contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
#contact .contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #252627;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
}
#contact .contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #111;
  flex-direction: column;
  font-weight: 300;
}

.copyright {
  background: #252627;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li {
    margin: 30px;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url(img/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  #top .imgBx img {
    width: 300px;
    height: 300px;
  }
  #top .btn {
    font-size: 9px;
    padding: 5px 15px;
  }
  #about h2,
  #work h2 {
    font-size: 8em;
  }
}